textarea {
  width: 50%;
  resize: none;
  height: 200px;
  display: block;
}

span {
  margin: 0 2px;
}

input {
  width: 100px;
  font-size: inherit;
  margin: 0 2px;
}

.passed {
  background: palegreen;
}

.failed {
  text-decoration: line-through;
}